.slider {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 10%;
}

.slide_content {
    display: flex;
    flex-direction: column;
    text-align: center;
}



.slide_content h3 {
    font-size: 24px;
}

.button_answer {
    display: flex;
    align-content: start;
    align-items: center;
    text-align: left;
    width: 199px;
    height: 77px;
    background: #ffffff;
    border: 1px solid #A9A9A9;
    padding: 0 12px;
    margin: 20px 0;
}

.button_answer label {
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

.button_answer:hover, 
.button_answer:focus, 
.button_answer:active, 
.button_answer:checked {
    background: #A9A9A9;
    transition: 0.3s ease-in-out;
    background: #0075ff;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #0075ff;
}

.button_answer:hover > * {
    cursor: pointer;
    background: transparent;
}

.slide_content_answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

ul.slider_list {
    list-style: none;
}

ul.slider_list li {
    display: none;
}

ul.slider_list li.active {
    display: block;
}

.slider_button_next, 
.slider_button_prev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 6px;
}

.slider_button_next:hover, 
.slider_button_prev:hover {
    cursor: pointer;    
}

.slider_button_next:hover img,
.slider_button_prev:hover img {
    cursor: pointer;    
    opacity: 15%;
    transition: 0.3s ease-in-out;   
}

.slider .slider_button_next,
.slider .slider_button_prev {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    line-height: 50px;
    text-align: center;
}

.slider .slider_button_next {
    right: 30px;
}

.slider .slider_button_prev {
    left: 30px;
}

.slide-in-blurred-right{-webkit-animation:slide-in-blurred-right .6s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-right .6s cubic-bezier(.23,1.000,.32,1.000) both}
@-webkit-keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}