.slider {
    width: 711px;
    height: auto;
    position: relative;
}

.slider>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 10%;
}

.slide_content {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.slide_content h3 {
    font-size: 24px;
}

.button_answer {
    display: flex;
    align-content: start;
    align-items: center;
    text-align: left;
    width: 199px;
    height: 77px;
    background: #ffffff;
    border: 1px solid #A9A9A9;
    padding: 0 12px;
    margin: 20px 0;
}

.button_answer label {
    padding: 0 8px;
    font-weight: 700;
    font-size: 16px;
}

.button_answer:hover,
.button_answer:focus,
.button_answer:active,
.button_answer:checked {
    background: #A9A9A9;
    transition: 0.3s ease-in-out;
    background: #0075ff;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #0075ff;
}

.button_answer:hover>* {
    cursor: pointer;
    background: transparent;
}

.slide_content_answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

ul.slider_list {
    list-style: none;
}

ul.slider_list li {
    display: none;
}

ul.slider_list li.active {
    display: block;
}

.slider_button_next,
.slider_button_prev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 6px;
}

.slider_button_next:hover img,
.slider_button_prev:hover img {
    -webkit-animation: scale_down_center .3s cubic-bezier(.15, .36, .35, .84) both;
    animation: scale_down_center .3s cubic-bezier(.15, .36, .35, .84) both
}

.slider_button_next:hover,
.slider_button_prev:hover {
    cursor: pointer;
    cursor: pointer;
    opacity: 70%;
    transition: 0.3s ease-in-out;
}

.slider_button_next:disabled,
.slider_button_prev:disabled {
    pointer-events: none;
    opacity: 15%;
}

.slider .slider_button_next,
.slider .slider_button_prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 50px;
    text-align: center;
}

.slider .slider_button_next {
    right: 30px;
}

.slider .slider_button_prev {
    left: 30px;
}

.footer_slider {
    width: 100%;
    height: 80px;
    text-align: center;
}

.btn_submit {
    width: 190px;
    height: 44px;
    background: #FFAE0D;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    border: none;
}

.btn_submit:hover {
    cursor: pointer;
    background: #f8bd45;
    color: #ffffff;
    -webkit-animation: scale_down_center .3s cubic-bezier(.15, .36, .35, .84) both;
    animation: scale_down_center .3s cubic-bezier(.15, .36, .35, .84) both
}

/* animations */

.fade_in {
    -webkit-animation: fade_in 1.2s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: fade_in 1.2s cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes fade_in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade_in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.fade_in_left {
    -webkit-animation: fade_in_left .6s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: fade_in_left .6s cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes fade_in_left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes fade_in_left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}


.fade_in_right {
    -webkit-animation: fade_in_right .6s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: fade_in_right .6s cubic-bezier(.39, .575, .565, 1.000) both
}

@-webkit-keyframes fade_in_right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes fade-_in_right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}


@-webkit-keyframes scale_down_center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}

@keyframes scale_down_center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100% {
        -webkit-transform: scale(.9);
        transform: scale(.9)
    }
}